<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iflytek.classroommanagesystem.mapper.SendEmailLogMapper">

    <resultMap id="BaseResultMap" type="com.iflytek.classroommanagesystem.entity.SendEmailLog">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="senderId" column="sender_id" jdbcType="INTEGER"/>
            <result property="recederId" column="receder_id" jdbcType="INTEGER"/>
            <result property="senderTime" column="sender_time" jdbcType="TIMESTAMP"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,sender_id,receder_id,
        sender_time,status
    </sql>
</mapper>
