<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/lib/layui-v2.6.3/css/layui.css" media="all">
    <link rel="stylesheet" href="/css/public.css" media="all">
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">

        <fieldset class="table-search-fieldset">
            <legend>搜索信息</legend>
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">教室名称</label>
                            <div class="layui-input-inline">
                                <input type="text" name="name" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">教室编号</label>
                            <div class="layui-input-inline">
                                <input type="text" name="classNo" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">是否启用</label>
                            <div class="layui-input-block">
                                <input type="radio" name="isUse" value="1" title="启用">
                                <input type="radio" name="isUse" value="0" title="未启用">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button type="submit" class="layui-btn layui-btn-primary"  lay-submit lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索</button>
                            <button type="reset" class="layui-btn layui-btn-primary"><i class="layui-icon"></i> 清空 </button>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>

        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-event="add"> 添加 </button>
                <button class="layui-btn layui-btn-sm layui-btn-danger data-delete-btn" lay-event="delete"> 批量删除 </button>
            </div>
        </script>

        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>

        <script type="text/html" id="currentTableBar">
            <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete">删除</a>
        </script>

        <script type="text/html" id="isUseTp">
        {{d.isUse == 0 ? '未启用': '启用'}}
        </script>
        <script type="text/html" id="indexTp">
            {{d.LAY_TABLE_INDEX+1}}
        </script>

    </div>
</div>
<script src="/lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
<script>
    layui.use(['form', 'table'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table;

        table.render({
            elem: '#currentTableId',
            url: '/back/classroom/listData',
            toolbar: '#toolbarDemo',
            defaultToolbar: ['filter', 'exports', 'print', {
                title: '提示',
                layEvent: 'LAYTABLE_TIPS',
                icon: 'layui-icon-tips'
            }],
            cols: [ [
                {type: "checkbox", width: 50},
                {field: 'id', templet:'#indexTp', width: 200, title: '序号', sort: true},
                {field: 'name', width: 200, title: '教室名称'},
                {field: 'classNo', width: 200, title: '教室编号', sort: true},
                {field: 'isUse', width: 200, title: '是否启用',templet:'#isUseTp'},
                {title: '操作', minWidth: 200, toolbar: '#currentTableBar', align: "center"}
            ] ],
            limits: [5,10, 15, 20, 25, 50, 100],
            limit: 5,
            page: true,
            skin: 'line',
            request: {
                pageName: 'page' //页码的参数名称，默认：page
                ,limitName: 'limit' //每页数据量的参数名，默认：limit
            }
        });

        // 监听搜索操作
        form.on('submit(data-search-btn)', function (data) {
            var result = JSON.stringify(data.field);
            //执行搜索重载
            table.reload('currentTableId', {
                page: {
                    page: 1
                }
                , where: {
                    'name': data.field.name,
                    'classNo': data.field.classNo,
                    'isUse': data.field.isUse,
                }
            });

            return false;
        });

        /**
         * toolbar监听事件
         */
        table.on('toolbar(currentTableFilter)', function (obj) {
            if (obj.event === 'add') {  // 监听添加操作
                var index = layer.open({
                    title: '添加教室',
                    type: 2,
                    shade: 0.2,
                    maxmin:true,
                    shadeClose: true,
                    area: ['100%', '100%'],
                    content: '/back/classroom/add'
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
            } else if (obj.event === 'delete') {  // 监听删除操作
                var checkStatus = table.checkStatus('currentTableId')
                    , data = checkStatus.data;
                //判断是否选中了教室
                if(data.length == 0){
                    layer.msg("请选择要删除的教室!")
                }
                //存储选中的教师ID值
                var classroomIds = []
                //遍历data拿到ID值
                $.each(data, function (index,item){
                    classroomIds.push(item.id);
                })

                //判断是否选中了教室
                if(classroomIds.length == 0){
                    layer.msg("请选择要删除的教室!")
                }
                console.log(classroomIds)
                layer.confirm('真的批量删除选中信息吗？', function (index) {
                    //异步删除教室信息
                    $.ajax({
                        type:'post',
                        url:'/back/classroom/batchDelete',
                        dataType:'json',
                        data: {'classroomIds':classroomIds.toString()},
                        success: function (res){
                            if (res.code == 0){//表示添加成功
                                layer.msg(res.msg, function (){
                                    //刷新表格数据
                                    table.reload('currentTableId')
                                });
                            }else {
                                layer.msg(res.msg)
                            }
                        }
                    });
                    layer.close(index);
                });
            }
        });

        //监听表格复选框选择
        table.on('checkbox(currentTableFilter)', function (obj) {
            console.log(obj)
        });

        table.on('tool(currentTableFilter)', function (obj) {
            var data = obj.data;
            if (obj.event === 'edit') {
                var index = layer.open({
                    title: '编辑教室',
                    type: 2,
                    shade: 0.2,
                    maxmin:true,
                    shadeClose: true,
                    area: ['100%', '100%'],
                    content: '/back/classroom/edit?classroomId='+data.id
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
                return false;
            } else if (obj.event === 'delete') {
                layer.confirm('真的删除【'+data.name+'】信息吗？', function (index) {
                    //异步删除教室信息
                    $.ajax({
                        type:'post',
                        url:'/back/classroom/delete',
                        dataType:'json',
                        data: {'classroomId':data.id},
                        success: function (res){
                            if (res.code == 0){//表示添加成功
                                layer.msg(res.msg, function (){
                                    //刷新表格数据
                                    table.reload('currentTableId')
                                });
                            }else {
                                layer.msg(res.msg)
                            }
                        }
                    });
                    obj.del();
                    layer.close(index);
                });
            }
        });
    });
</script>

</body>
</html>